.gif{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background: rgba(0,0,0,0.75) url("logo78sm.png") no-repeat center fixed;
    z-index: 10000;
  }
  .gif_chat{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background: rgba(0,0,0,0.75) url("Spinner-5.gif") no-repeat center fixed;
    z-index: 10000;
  }